/*Fontes*/
$font-titulo: 'Dancing Script', cursive;
$font-texto: 'Indie Flower', cursive;

/*Espaçamento*/
$padding-main: 100px 100px;

/*Cores*/
$primary-color: #F5C9D3;
$border-color: #E2C8E6;
$button-color: #FBDEFF;
$button-hover-color: #ca96d1;
$border-hover-color: #8e5a96;
$complementary-color1: #FFEBEF;
$complementary-color2: #EBFFEE;
$background-color: #DEDEDE;
$font-color: #000000;

/*Mixins*/
@mixin  formulario(){
    background-color: $button-color;
    border: solid 4px $border-color;
    border-radius: 10px;
    outline: none;
    padding: 15px 10px;
    font-size: 1rem;
}

@mixin tituloh2(){
    font-size: 2rem;
    margin: 0 5rem;
    font-family: $font-titulo;
    font-weight: bold;
}


input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px #ca96d1 inset;
    }




body{
    font-family: sans-serif;
}

.header{
    align-items: center;
    background-color: $primary-color;
    text-align: center;

    &__logo{
        height: 200px;
        padding: 25px 0;
        width: 200px;
    }
}

.intro{
    display: flex;
    justify-content: space-around;
    padding: $padding-main;
   

    &__img{
        width: 40%;
    }

    &__container{
        display: block;
        width: 50%;
    }

    &__titulo{
        font-size: 2rem;
        font-family: $font-titulo;
        font-weight: bold;
        padding: .5rem;
        text-align: center;
    }

    &__paragrafo{
        font-size: 1rem;
        font-family: $font-texto;
        font-weight:lighter;
        line-height: 1.5rem;
        padding: 1rem;
    }
}

.trabalhos{
    background-color: $complementary-color2;
    padding: $padding-main;

    &__titulo{
        @include tituloh2();
    }

    &__destaque{
        display: flex;
        height: 450px;
        justify-content: space-around;
        padding: 50px;
        vertical-align: middle;
    

        &-imagem{
            background-color: $background-color;
            width: 60%;
        }

        &-desccontainer{
            background-color: $complementary-color1;
            display: block;
            padding: 50px;
            text-align: justify;
            width: 20%;
            
        }

        &-titulo{
            font-size: 1.5rem;
            font-weight: bolder;
            height: 10%;
            padding: 0 0 15px 0;
        }

        &-descricao{
            font-size: 0.8rem;
            height: 40%;
            line-height: 1.5rem;
            padding: 20px 0;
        }

        &-preco{
            padding: 15px 0;
            text-align: right;
        }

        &-botaocontainer{
            display: flex;
            justify-content: space-around;
        }

        &-botao{
            background-color: $button-color;
            border: solid 10px $border-color;
            border-radius: 10px;
            color: $font-color;
            font-weight: bold;
            height: 20%;
            margin: auto;
            padding: 15px;
            text-decoration: none;

            &:hover{
                cursor: pointer;
                background-color: $button-hover-color;
                border-color: $border-hover-color;
            }
        }
    }


    &__recentes{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 50px 100px;

        &-imagem{
            border: dashed 8px $border-color;
            border-radius: 10%;
            height: 250px;
            width: 250px;

            &:hover{
                cursor: pointer;
                border-color: $border-hover-color;
            }
        }
    }
}

.especialidades{
    padding: $padding-main;

    &__titulo{
        @include tituloh2();
    }

    &__cards{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 50px;

        &-card{
            align-items: center;
            border: dashed 8px $border-color;
            border-radius: 10%;
            display: flex;
            flex-direction: column;
            height: 380px;
            justify-content: space-between;
            text-align: center;
            width: 25%;

            &:hover{
                border-color: $border-hover-color;
            }

            &-imagem{
                height: 200px;
                padding: 2.5rem 0;
                width: 200px;
            }

            &-titulo{
                font-size: 2.5rem;
                padding: 1.5rem 0;
            }
        }
    }
}

.sobre{
    background-color: $complementary-color1;
    padding: $padding-main;

    &__titulo{
        @include tituloh2();
    }

    &__pessoas{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 50px 0 0 0;

        &__card{
            display: flex;
            flex-direction: row;
            width: 50%;


            &-imagem{
                border: dashed 10px $border-color;
                border-radius: 100%;
                height: 200px;
                width: 200px;
            }

            &-containerdesc{
                display: flex;
                flex-direction: column;
                justify-content:flex-start ;
                padding: 0 35px;
                vertical-align: middle;
            }

            &-titulo{
                font-size: 1.5rem;
                padding: 1.5rem 0;
            }

            &-descricao{
                font-size: 1rem;
                line-height: 1.2rem;
            }
        }
    }
}

.contato{
    padding: $padding-main;

    &__titulo{
        @include tituloh2();
    }

    &__formulariocontainer{
        padding: 20px 50px;
    }

    &__formulario{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        &-inputcontainer{
            display: flex;
            flex-direction: column;
            padding: 20px 50px;
            width: 35%;
        }

        &-label{
            padding: 10px 20px;
        }

        &-input{
            @include formulario();

            &:focus{
                border-color: $border-hover-color;
            }
        }

        &-textarea{
            @include formulario();

            &:focus{
                border-color: $border-hover-color;
            }
        }

        &-botao{
            background-color: $button-color;
            border: solid 7px $border-color;
            border-radius: 10px;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: bold;
            height: 60px;
            margin: 120px 180px;
            width: 150px;

            &:hover{
                cursor: pointer;
                background-color: $button-hover-color;
                border-color: $border-hover-color;
            }
        }
    }
}

.redes{
    background-color: $complementary-color2;
    padding: $padding-main;

    &__titulo{
        @include tituloh2();
    }

    &__sociaiscontainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__sociais{
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        padding: 30px 30px;
        width: 35%;
        

        &-icone{
            height: 60px;
            width: 60px;
        }

        &-titulo{
            color: $font-color;
            font-size: 1.2rem;
            padding: 20px 20px 10px 20px;
        }

        &-link{
            color: $font-color;
            text-decoration: none;
        }
    }
}

.footer{
    align-items: center;
    background-color: $primary-color;
    text-align: center;

    &__logo{
        height: 100px;
        padding: 25px 0;
        width: 100px;
    }

    &__paragrafo{
        padding: 0 0 25px 0;
    }
}

/*Responsividade*/
@media (max-width: 1100px){
    .intro{
        align-items: center;
        flex-direction: column;
        padding: 5% 0;
        text-align: justify;
        width: 100%;  

        &__img{
            width: 75%;
        }

        &__container{
            width: 75%;
        }
    }

    .trabalhos{
        padding: 5% 0;
        width: 100%;

        &__titulo{
            margin: 1rem 2rem;
        }

        &__destaque{
            align-items: center;
            flex-direction: column;
            height: auto;
            padding: 0;

            &-imagem{
                width: 100%;
            }

            &-desccontainer{
                margin: 1rem;
                padding: 0;
                width: 90%;
            }

            &-titulo{
                margin: 1rem;
            }
    
            &-descricao{
                margin: 1.5rem;
            }
    
            &-preco{
                margin: 1rem;
                text-align: center;
            }

            &-p{
                margin: 1.2rem;
            }

            &-botao{
                margin: 0;
            }
        }

        &__recentes{
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0;
            width: 100%;

            &-imagem{
                height: auto;
                margin: .5rem;
                width: 25%;
            }
        }
    }

    .especialidades{
        padding: 5% 0;
        width: 100%;
        
        &__titulo{
            margin: 1rem 2rem;
        }

        &__cards{
            align-items: center;
            flex-direction: column;
            padding: 0;


            &-card{
                height: 180px;
                justify-content: space-around;
                margin: .7rem;
                width: 50%;

                &-imagem{
                    height: 50%;
                    padding: 0;
                    width: auto;
                }

                &-titulo{
                    font-size: 1.5rem;
                    padding: .5rem;
                }
            }
        }
    }

    .sobre{
        padding: 5% 0;
        width: 100%;

        &__titulo{
            margin: 1rem 2rem;
        }

        &__pessoas{
            flex-direction: column;
            padding: 0;

            &__card{
                align-items: center;
                flex-direction: column;
                padding: 1.5rem 0;
                width: 100%;

                &-containerdesc{
                    margin: 1.5rem;
                }

                &-titulo{
                    padding: .5rem 0;
                }

                &-descricao{
                    text-align: justify;
                }
            }
        }
    }

    .contato{
        padding: 5% 0;
        width: 100%;

        &__titulo{
            margin: 1rem 2rem;
        }

        &__formulariocontainer{
            padding: 0;
        }

        &__formulario{
            align-items: center;
            flex-direction: column;


            &-inputcontainer{
                padding: 0;
                margin: 1rem 0;
                width: 70%;
            }

            &-label{
                padding: 0;
                margin: 0 0 .2rem .5rem;
            }

            &-input{
                padding: .5rem 0;
            }

            &-textares{
                padding: 0;
            }

            &-botao{
                margin: 0;
            }
        }

    }

    .redes{
        padding: 5% 0;
        width: 100%;

        &__titulo{
            margin: 1rem 2rem;
        }

        &__sociais{
            align-items: center;
            flex-direction: column;
            margin: 1rem 0;
            padding: 0;
            width: 100%;

            &-titulo{
                padding: 0;
            }
        }
    }
}