/*Constantes*/
/*Fonts*/
/*spacing*/
/*cores*/
/*mixins*/
body {
  font-family: sans-serif;
}

.header {
  align-items: center;
  background-color: #F5C9D3;
  text-align: center;
}
.header__logo {
  height: 200px;
  width: 200px;
  padding: 25px 0;
}

.intro {
  display: flex;
  justify-content: space-around;
  padding: 100px 100px;
}
.intro__img {
  width: 40%;
}
.intro__container {
  display: block;
  width: 50%;
}
.intro__titulo {
  font-size: 2rem;
  padding: 0.5rem;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}
.intro__paragrafo {
  font-size: 1rem;
  padding: 1rem;
  line-height: 1.5rem;
  font-family: "Indie Flower", cursive;
  font-weight: lighter;
}

.trabalhos {
  background-color: #EBFFEE;
  padding: 100px 100px;
}
.trabalhos__titulo {
  font-size: 2rem;
  margin: 0 5rem;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}
.trabalhos__destaque {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  padding: 50px;
  height: 450px;
}
.trabalhos__destaque-imagem {
  width: 60%;
  background-color: #DEDEDE;
}
.trabalhos__destaque-desccontainer {
  display: block;
  background-color: #FFEBEF;
  padding: 50px;
  width: 20%;
  text-align: justify;
}
.trabalhos__destaque-titulo {
  font-size: 1.5rem;
  height: 10%;
  padding: 0 0 15px 0;
  font-weight: bolder;
}
.trabalhos__destaque-descricao {
  height: 40%;
  padding: 20px 0;
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.trabalhos__destaque-preco {
  padding: 15px 0;
  text-align: right;
}
.trabalhos__destaque-botaocontainer {
  display: flex;
  justify-content: space-around;
}
.trabalhos__destaque-botao {
  color: #000000;
  height: 20%;
  background-color: #FBDEFF;
  border: solid 10px #E2C8E6;
  padding: 15px;
  margin: auto;
  text-decoration: none;
  font-weight: bold;
}
.trabalhos__destaque-botao:hover {
  cursor: pointer;
}
.trabalhos__recentes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 100px;
}
.trabalhos__recentes-imagem {
  width: 250px;
  height: 250px;
  border: dashed 8px #E2C8E6;
  border-radius: 10%;
}
.trabalhos__recentes-imagem:hover {
  cursor: pointer;
}

.especialidades {
  padding: 100px 100px;
}
.especialidades__titulo {
  font-size: 2rem;
  margin: 0 5rem;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}
.especialidades__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
}
.especialidades__cards-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: dashed 8px #E2C8E6;
  border-radius: 10%;
  text-align: center;
  width: 25%;
  height: 380px;
  align-items: center;
}
.especialidades__cards-card-imagem {
  width: 200px;
  height: 200px;
  padding: 2.5rem 0;
}
.especialidades__cards-card-titulo {
  font-size: 2.5rem;
  padding: 1.5rem 0;
}

.sobre {
  padding: 100px 100px;
  background-color: #FFEBEF;
}
.sobre__titulo {
  font-size: 2rem;
  margin: 0 5rem;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}
.sobre__pessoas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 0 0 0;
}
.sobre__pessoas__card {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.sobre__pessoas__card-imagem {
  width: 200px;
  height: 200px;
  border: dashed 10px #E2C8E6;
  border-radius: 100%;
}
.sobre__pessoas__card-containerdesc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  vertical-align: middle;
  padding: 0 35px;
}
.sobre__pessoas__card-titulo {
  font-size: 1.5rem;
  padding: 1.5rem 0;
}
.sobre__pessoas__card-descricao {
  font-size: 1rem;
  line-height: 1.2rem;
}

.contato {
  padding: 100px 100px;
}
.contato__titulo {
  font-size: 2rem;
  margin: 0 5rem;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}
.contato__formulariocontainer {
  padding: 20px 50px;
}
.contato__formulario {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contato__formulario-inputcontainer {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 20px 50px;
}
.contato__formulario-label {
  padding: 10px 20px;
}
.contato__formulario-input {
  background-color: #FBDEFF;
  border: solid 4px #E2C8E6;
  border-radius: 10px;
  padding: 15px 10px;
  font-size: 1rem;
}
.contato__formulario-textarea {
  background-color: #FBDEFF;
  border: solid 4px #E2C8E6;
  border-radius: 10px;
  padding: 15px 10px;
  font-size: 1rem;
}
.contato__formulario-botao {
  background-color: #FBDEFF;
  border: solid 7px #E2C8E6;
  border-radius: 10px;
  height: 60px;
  width: 150px;
  margin: 120px 180px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
.contato__formulario-botao:hover {
  cursor: pointer;
}

.redes {
  padding: 100px 100px;
  background-color: #EBFFEE;
}
.redes__titulo {
  font-size: 2rem;
  margin: 0 5rem;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}
.redes__sociaiscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.redes__sociais {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 35%;
  padding: 30px 30px;
}
.redes__sociais-icone {
  height: 60px;
  width: 60px;
}
.redes__sociais-titulo {
  font-size: 1.2rem;
  padding: 20px 20px 10px 20px;
  color: #000000;
}
.redes__sociais-link {
  color: #000000;
  text-decoration: none;
}

.footer {
  align-items: center;
  background-color: #F5C9D3;
  text-align: center;
}
.footer__logo {
  height: 100px;
  width: 100px;
  padding: 25px 0;
}
.footer__paragrafo {
  padding: 0 0 25px 0;
}

/*# sourceMappingURL=style.css.map */
